@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~bootstrap/dist/css/bootstrap.min.css";

#card {
  height: 750px;
  margin-left: 200px;
  margin-right: 200px;
}

.text-xl {
  font-size: 200px;
}

.card {
  border-radius: 20px;
}

h2 {
  font-size: 200px;
}

#second-suit {
  transform: rotate(-180deg);
}
